<div class="container">
  <div class="row">
    <div class="col-md-12">
        <div class="row">
          <div class="col-md-8">
              <h2>Nuevo Link de Libro </h2>
          </div>
          <div class="col-md-4 text-right">
              <button type="button" class="btn btn-link" (click)="goBack()">Volver</button>
          </div>
        </div>
        
        <br>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Título del Libro</span>
          </div>
          <input type="text" class="form-control" placeholder="Agregar Título del Libro ..." aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Resumen</span>
          </div>
          <input type="text" class="form-control" placeholder="Agregar Resumen ..." aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Link</span>
          </div>
          <input type="text" class="form-control" placeholder="Agregar Link ..." aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Autor(es)</span>
          </div>
          <input type="text" class="form-control" placeholder="Agregar Autor(es) ..." aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Tu Nombre</span>
            </div>
            <input type="text" class="form-control" placeholder="Agregar Tu Nombre ..." aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            
          <button type="button" class="btn btn-secondary">Guardar Link</button>
          <button type="button" class="btn btn-light">Limpiar</button>
          </div>


    </div>
  </div>
</div>
