<header>
    <div class="container">
            <div class="row">
                    <div class="col-md-12 text-center">
                        <h1><span class="searchtitle">{{title}}</span> <span class="searchshow">{{searchShow}}</span></h1>
                        <!-- <p class="sub-title-header">{{subtitle}} </p> -->
                        
                    </div>
                </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " routerLink="/nuevo-link">+ Agregar Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Ingresar</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Disabled</a>
                </li> -->
            </ul>
        
        
    </div>
</header>

<!-- <main class="main">
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="list-group">
                    <!-- add component child named book -->
                    <!--<app-book class="list-group-item list-group-item-action flex-column align-items-start" *ngFor="let book of booksSave" [item]="book" routerLink="/book-detail/{{book.id}}">
                    </app-book>
                    
                </div>
            </div>
        </div>
    </div>
    
</main> -->
<main class="main">
<app-layout [booksSave]="booksSave"></app-layout>
</main>




<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
      
                <div class="input-group mb-3">
                    
                    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" [(ngModel)]="searchWord"  (keyup)="onKeyup()" placeholder="Buscar Link en BebooLi ...">
                
      
                </div>
      
            </div>
        </div>
    </div>
</div>


